.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f9fa; /* Светло-серый фон */
  padding: 30px; /* Добавляем паддинги */
  border-radius: 12px; /* Более круглые углы */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Немного более глубокая тень */
  width: 80%; /* Увеличиваем ширину попапа */
  max-width: 400px;
  height: auto; 
  max-height: 80%; 
  overflow-y: auto;
}

.popupInner {
  margin: auto;
}

.popup form {
  display: flex;
  flex-direction: column;
	align-items: center;
}

.popup input[type="text"],
.popup input[type="date"],
.popup button {
  margin-bottom: 20px; /* Увеличенный отступ между элементами */
  padding: 12px; /* Увеличенный паддинг */
  border: 1px solid #ced4da; /* Светлый серый цвет рамки */
  border-radius: 8px;
}

.popup button:not(.closeBtn) {
	width: 300px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button:hover {
  background-color: #0056b3; /* Темно-синий при наведении */
}

.closeBtn {
  position: absolute;
  top: 20px; /* Немного выше */
  right: 20px; /* Немного правее */
  background: none;
  border: none;
  font-size: 24px; /* Увеличиваем размер крестика */
  cursor: pointer;
  color: #333; /* Цвет крестика */
  transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.closeBtn:hover {
  color: #111; /* Слегка темнее цвет при наведении */
}